<container>
  <row class="social-row">
    <columns>
      <center>
        <span>
          <a href="#"><img src="https://imgur.com/JAqxhvM.png" alt="" /></a
        ></span>
        <span class="right-borders"></span>
        <span>
          <a href="#"><img src="https://imgur.com/hPnGzj0.png" alt="" /></a
        ></span>
        <span class="right-borders"></span>
        <span>
          <a href="#"><img src="https://imgur.com/eixm9lc.png" alt="" /></a
        ></span>
        <span class="right-borders"></span>
        <span>
          <a href="#"><img src="https://imgur.com/4PG9qzv.png" alt="" /></a
        ></span>
        <span class="right-borders"></span>
        <span>
          <a href="#"><img src="https://imgur.com/NRFeNat.png" alt="" /></a
        ></span>
      </center>
    </columns>
  </row>
  <row class="download-now-row">
    <columns>
      <a href="#">
        <center>
          <img src="https://imgur.com/ki6Wvdg.png" alt="" />
        </center>
      </a>
    </columns>
  </row>
  <row class="footer-tiny-info">
    <columns>
      <row class="tiny-row">
        <columns>
          <p>
            <strong>EXPRESS CASH</strong> <br />

            If the price of a product is less than the value of the Express
            Cash, the remaining value of the Express Cash will be sacrificed. As
            of 6/23/2022 you still had available Express Cash. Your use of this
            Express Cash confirms your consent to the Express Insider Program
            Terms & Conditions. The above recap does not reflect redemptions
            between issuance date and email date. Unless otherwise noted, each
            Express Cash will expire on the expiration date shown in your
            account and expire at 11:59 PM Eastern Time. Express Cash have no
            cash value. Express Cash are not reissued or returned, and points
            are not returned to accounts, when items purchased with Express Cash
            are returned or when Express Cash are used in the Style Finder
            program and the item is not found and shipped to you. The Express
            Insider Rewards Program is provided by Express and its terms &
            conditions may change at any time. Terms and conditions such as
            expiration dates apply; visit express.com/insider for details
          </p>
        </columns>
      </row>

      <row class="tiny-row">
        <columns>
          <p>
            <strong>40% OFF ALL JEANS + DRESSES</strong> <br />

            Valid limited time. The offer cannot be combined with any other
            discounts or coupons. Not valid on Labels We Love (Labels We Love
            includes Featured Brands, Express Marketplace items and Style
            Trial), Special Offer pricing, Insta Sale items, donations,
            clearance or previous purchases. Other restrictions may apply. See
            express.com for details. Valid at express.com and in most Express
            stores. Not valid at Express Factory Outlet stores. *Not valid in
            the following Express Stores: MALL OF GEORGIA, MORENO VALLEY,
            COASTLAND, DULLES TOWN CENTER, OXFORD VALLEY MALL, ST. CLAIR SQUARE,
            NORTHPARK CENTER, CLACKAMAS TWN CENTE, MIAMI INTERNATIONAL,
            WATERTOWER PLACE, OLD ORCHARD, ARROWHEAD TWN CNTR, FRESNO FASHION
            FAIR, MEADOWS MALL, THE SANDS, INGRAM PARK MALL, PADDOCK SHOPS,
            DALLAS GALLERIA, PROMENADE @ TEMECUL, PATRIOT PLACE, MALL @ BAY
            PLAZA
          </p>
        </columns>
      </row>

      <row class="tiny-row">
        <columns>
          <p>
            <strong>INFLUENCER STATUS:</strong> <br />

            †† Influencer status requires 2500 points to be earned within the
            program year earning period, defined as March 1 to the last day of
            February the following year. Express Credit Card holders are
            automatically upgraded to Influencer status. Only Express Insider
            and Express Credit Card accounts in good standing will be upgraded
            to Influencer Status.
          </p>
        </columns>
      </row>

      <row class="tiny-row">
        <columns>
          <p>
            <strong>POINTS</strong> <br />
            **Qualifying purchases do not include and points are not earned on
            purchases covered by the redemption of Express Cash or program
            coupon, purchases of gift boxes and gift wrapping services online,
            redemption of gift cards, sales tax, state fees, shipping charges or
            delivery. Points will expire on a rolling 12 month period unless
            used towards a Express Cash.
          </p>
        </columns>
      </row>

      <row class="tiny-row">
        <columns>
          <p>
            <strong>FREE SHIPPING AND RETURNS</strong> <br />
            *Limited to U.S. Standard Shipping. Offer only available at
            Express.com and on the Express App. Offer not valid on Express
            Marketplace items and fragrances. If an expedited shipping method is
            chosen, Second Day Delivery or Overnight Delivery, the stated
            shipping and handling fees will apply. Valid on clearance items. Not
            valid on previous purchases. This rewards program is provided by
            Express and its terms may change at any time. For full Rewards Terms
            and Conditions, please see http://express.com/insiderrules. Credit
            card offers are subject to credit approval. Express Credit Card
            Accounts are issued by Comenity Bank.
          </p>
        </columns>
      </row>

      <row class="tiny-row">
        <columns>
          <p>
            <strong>APP DOWNLOAD OFFER:</strong> <br />
            **Valid until end of download month. New download only. Customers
            will receive offer within 24 hours after download. In-app ring code
            may only be used once and cannot be combined with any other coupons
            or storewide offers. Not valid on Featured Brands, NBA and Edition
            Collection, Insta-sale items, clearance items, Express Marketplace
            items, or previous purchases. Other restrictions may apply. See
            store or express.com for details. Taxes payable after discount is
            deducted. If you return a portion of your purchase a portion of the
            discount will be lost. Cannot be used to purchase Express gift
            cards. Valid only when used on the Express app. Not valid in Express
            and Express Men stores, online at express.com, or Express Factory
            Outlet stores. Associates are not eligible. Express Marketplace
            purchases and Style Trial transactions are not eligible for all
            Express Insider program benefits, including but not limited to
            points and rewards (for Style Trial), redemption and free shipping.
            Loyalty customers will earn Express Insider points and rewards based
            on Express Marketplace purchases; however, Express Insider earned
            rewards cannot be redeemed on Express Marketplace purchases and may
            be subject to other restrictions. The Express Credit Card may not be
            used for any EXPRESS Style Trial transactions, but certain rewards
            can be earned on Style Trial transactions. Exclusions and
            restrictions apply. For full terms and conditions see
            www.express.com/insider. By enrolling in the Express Insider Rewards
            Program you agree to receive transactional email communication from
            Express regarding this Program. Express Insider is a digital loyalty
            program and member notifications are sent primarily via email.
            Members may not unsubscribe from Express Insider Reward Program
            emails. If you would like to opt out of the Express Insider Rewards
            Program and cancel your membership, you will lose all of your
            Rewards, current points and membership status. Members can opt out
            of the Program by contacting our Customer Service team at
            1.888.EXP.1980 or by email at customerservice@express.com.
          </p>
        </columns>
      </row>
    </columns>
  </row>
</container>
