<container>
  <row class="header">
    <columns class="header-col">
      <row class="header-come">
        <columns>
          <span><a href="#">You've come a long way...</a> </span> <span>|</span>
          <span class="web-version-link"><a href="#">View web version</a></span>
        </columns>
      </row>

      <row class="insider-row">
        <columns>
          <h1>
            <span class="header-express">EXPRESS</span><span>INSIDER</span>
          </h1>
        </columns>
      </row>
    </columns>
  </row>
</container>
